
	<div ng-controller="logCtrl">
		<form ng-submit="login(formdata.username,formdata.password)" name="loginForm">
			<div>
				<font color="black">
					<align="center">Username: </align>
				</font>
				<input type="text" ng-model="formdata.username" name="uname" required><br>
				<br>
			</div>
			<br>
			<div>
				<font color="black">Password: </font>
				<input type="password" ng-model="formdata.password" name="passwd" required><br>
				<br>
			</div>
			<br>
			<div>
				<font color="black">If you are not a registered user ? 
					<a href="#/newuserRegistration">Register </a>
				</font>
				<br>
				<br>
			</div>
			<br>
			<align="right">
				<input type="submit" value="Login" width="500px">
			</align>
		</form>
	</div>



